/*

*/

/* MAIN */
table.db-table     { border-right:1px solid #ccc; border-bottom:1px solid #ccc; }
table.db-table th  { background:#eee; padding:5px; border-left:1px solid #ccc; border-top:1px solid #ccc;}
table.db-table td  { padding:5px; border-left:1px solid #ccc; border-top:1px solid #ccc;}

h1,h2,h3,h4,h5,p { 
margin:0; 
padding:0; 
}